{% extends 'layout.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>Welcome to the Country Data Portal</h1>
    <br>
    <p>This is the home page of the Country Data Portal.</p>
    <p>Here, you can navigate to different sections of the portal:</p>
    <br>
    <ul>
        <li><a href="{% url 'countries' %}">View Countries</a></li>
        <li><a href="{% url 'regions' %}">View Regions</a></li>
        <li><a href="{% url 'income_groups' %}">View Income Groups</a></li>
    </ul>
{% endblock %}