<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>My Django Project</title>
    <!-- import Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script>
    <script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type="text/javascript"></script>

    <style>
        .data-table th, .data-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .data-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <!-- Head navigation bar -->
    <div class="row fixed-top" style="height: 60px">
        <nav class="navbar navbar-dark bg-dark col-12 bg-primary py-2">
            <a class="navbar-brand" href="/">
                Global Rural Population Survey System
            </a>
        </nav>
    </div>
    <div class="row" style="margin-top: 60px;">
            <!-- Sidebar -->
            <div class="sidebar navbar-dark bg-dark col-md-2 col-lg-2" style="height: 100vh">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'countries' %}">View Countries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'compare_countries' %}">Compare Countries Rural Population</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'compare_countries_in_region' %}">Compare Countries in
                            Regions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'compare_countries_in_income_group' %}">Compare Countries in
                            Income Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/about">About</a>
                    </li>
                </ul>
            </div>
            <!-- main content -->
            <div class="col-md-10 col-lg-10" style="height: 100vh; overflow: scroll">
                <div>
                     <main role="main" >
                    {% block content %}{% endblock %}
                </main>
                </div>
            </div>

    </div>

</div>


</body>
</html>

