{% extends 'RuralPopulationApp/index.html' %}

{% block title %}
    Comparison of Countries in Income Group
{% endblock %}

{% block content %}
    <h1>Comparison of Countries in Income Group</h1>
    {% if error_message %}
        <div style='color: red;'>{{error_message}}</div>
    {% endif %}
    
    <!-- Form for inputting income group ID -->
    <form method="get" action="{% url 'compare_countries_in_income_group' %}">
        <label for="income_group_id">Income Group ID:</label>
        <input type="text" name="income_group_id" id="income_group_id">
        <br>
        <button type="submit">Compare</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Income Group</th>
                <th>Country</th>
                <th>Region</th>
                <th>Special Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
                <tr>
                    {% if country.income_group.name == 'nan' %}
                        <td>None</td>
                    {% else %}
                        <td>{{ country.income_group.name}}</td>
                    {% endif %}
                        <td>{{ country.name }}</td>
                    {% if country.income_group.name == 'nan' %}
                        <td>None</td>
                    {% else %}
                        <td>{{country.region.name}}</td>
                    {% endif %}
                    {% if country.special_notes == 'nan' %}
                        <td>None</td>
                    {% else %}
                        <td>{{ country.special_notes }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
