{% extends 'index.html' %}

{% block title %}
    Comparison of Countries
{% endblock %}

{% block content %}
    <h1>Comparison of Countries</h1>

    <!-- Form for comparing countries -->
    <form method="get" action="{% url 'compare_countries' %}">
        <label for="country_code_1">Country Code 1:</label>
        <select name="country_code_1" id="country_code_1">
            <option value="">Select a Country</option> <!-- Default null value option -->
                {% for country in countries %}
                    <option value="{{ country.country_code }}">{{ country.name }} ({{ country.country_code }})</option>
                {% endfor %}
        </select>
        <br>
        <label for="country_code_2">Country Code 2:</label>
        <select name="country_code_2" id="country_code_2">
            <option value="">Select a Country</option> <!-- Default null value option -->
                {% for country in countries %}
                    <option value="{{ country.country_code }}">{{ country.name }} ({{ country.country_code }})</option>
                {% endfor %}
        </select>
        <br>
        <button type="submit">Compare</button>
    </form>


    <!-- Display comparison table if both countries are provided -->
    {% if country_1 and country_2 %}
    <table>
        <thead>
            <tr>
                <th>Country</th>
                <th>Region</th>
                <th>Income Group</th>
                <th>Special Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ country_1.name }}</td>
                <td>{{ country_1.region.name }}</td>
                <td>{{ country_1.income_group.name }}</td>
                <td>{{ country_1.special_notes }}</td>
            </tr>
            <tr>
                <td>{{ country_2.name }}</td>
                <td>{{ country_2.region.name }}</td>
                <td>{{ country_2.income_group.name }}</td>
                <td>{{ country_2.special_notes }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    
    <div id="container"></div>

    <script>
 
        var chart = new ej.charts.Chart({
            tooltip: {enable: true},
            // Initializing Primary X Axis
            primaryXAxis: {
                title: 'Year',
                interval: 1
            },
            // Initializing Primary Y Axis
            primaryYAxis: {
                interval: 5,
                title: 'Rural Population (% of Total Population)'
            },
 
            // Initializing Chart Series
            series: [
                {
                    name: '{{ country_1.name }}',
                    type: 'Line',
                    width: 2,
                    dataSource: [
                        {% for data_entry in country_1.dataentry_set.all %}
                        { year: {{ data_entry.year }}, population: {{ data_entry.value }} },
                        {% endfor %}
                    ],
                    xName: 'year',
                    yName: 'population',
                },
                {
                    name: '{{ country_2.name }}',
                    type: 'Line',
                    width: 2,
                    dataSource: [
                        {% for data_entry in country_2.dataentry_set.all %}
                        { year: {{ data_entry.year }}, population: {{ data_entry.value }} },
                        {% endfor %}
                    ],
                    xName: 'year',
                    yName: 'population',
                }
            ],
        });
        chart.appendTo('#container');
    </script>



{% endblock %}
