{% extends 'layout.html' %}

{% block title %}
    Countries
{% endblock %}

{% block content %}
    <h1>List of Countries</h1>
    <br>
    <ul>
        {% for country in countries %}
            <li>{{ country.name }} - {{ country.country_code }} |Income Group: {{ country.income_group }}| Special Notes: {{ country.special_notes }}</li>
        {% endfor %}
    </ul>
    <br>
    <ul>
        <li><a href="{% url 'regions' %}">View Regions</a></li>
        <li><a href="{% url 'income_groups' %}">View Income Groups</a></li>
    </ul>
{% endblock %}
