{% extends 'layout.html' %}

{% block title %}
    Countries
{% endblock %}

{% block content %}
    <h1>List of Countries with yearly Rural population</h1>
    <br>
    <ul>
        {% for country in countries %}
        <tr>
            <td>{{ country.country_code }}</td>
            <td>{{ country.name }}</td>
            {% if country.income_group.name == 'nan' %}
                <td>None</td>
            {% else %}
                <td>{{ country.income_group.name}}</td>
            {% endif %}
            {% if country.income_group.name == 'nan' %}
                <td>None</td>
            {% else %}
                <td>{{country.region.name}}</td>
            {% endif %}
            {% if country.special_notes == 'nan' %}
                <td>None</td>
            {% else %}
                <td>{{ country.special_notes }}</td>
            {% endif %}

            <td><button> <a class="nav-link " href = "show/?country_code_1={{country.country_code}}" type="button" class="btn btn-outline-info">details </a></button></td>
        </tr>
        {% endfor %}
  </tbody>
    </table>
      
{% endblock %}
