{% extends 'RuralPopulationApp/index.html' %}
{% block title %}
    Countries
{% endblock %}

{% block content %}
    <h1>{{ country_1.name }} - {{ country_1.country_code }}</h1>
    <div class="card" style="margin-top: 24px">
        <h5 class="card-header">Basic Information</h5>
        <div class="card-body">
            <div class="row">
                {% if country_1.income_group.name == 'nan' %}
                <div class="col-sm">
                    Income Group: None
                </div>
                {% else %}
                <div class="col-sm">
                Income Group: {{ country_1.income_group.name }}
                </div>
                {% endif %}
                {% if country_1.region.name == 'nan' %}
                <div class="col-sm">
                    Region: None
                </div>
                {% else %}
                <div class="col-sm">
                Region: {{country_1.region.name}}
                </div>
                {% endif %}
            </div>
            <div class="row" style="margin-top: 16px">
                <div class="col-sm">
                Special Notes:
                </div>
            </div>
            <div class="row">
                {% if country_1.special_notes == 'nan' %}
                <div class="col-sm">
                There are no special notes here
                </div>
                {% else %}
                <div class="col-sm">
                {{ country_1.special_notes }}
                </div>
                {% endif %}
            </div>

        </div>
    </div>
    <div class="card" style="margin-top: 24px">
        <h5 class="card-header">Rural population change chart</h5>
    <div class="card-body">
        <table class="data-table">
            <tr>
                <th>Year</th>
                {% for data_entry in country_1.dataentry_set.all %}
                    <td>{{ data_entry.year }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Population(%)</th>
                {% for data_entry in country_1.dataentry_set.all %}
                    <td>{{ data_entry.value }}</td>
                {% endfor %}
            </tr>
        </table>
        <div id="container" style="margin-top: 24px"></div>
    </div>

    </div>
    


    <script>
 
        var chart = new ej.charts.Chart({
                    tooltip: {enable: true},
            //Initializing Primary X Axis
            primaryXAxis: {
                title: 'Year',
                interval: 1
            },
            //Initializing Primary Y Axis
             primaryYAxis: {
                interval: 5,
                title: 'Rural Population (% of Total Population)'
            },
 
            //Initializing Chart Series
            series: [
                {
                    type: 'Line',
                    width: 4,

                    dataSource: [
                    {% for data_entry in country_1.dataentry_set.all %}
                        { year: {{ data_entry.year }}, value: {{ data_entry.value }} },
                    {% endfor %}
                    ],
                    xName: 'year',
                    yName: 'value',
                }
            ],
        });
        chart.appendTo('#container');
    </script>

{% endblock %}