{% extends 'index.html' %}

{% block title %}
    Countries
{% endblock %}

{% block content %}
    <h1>List of Countries with yearly Rural population</h1>
    <br>
    <ul>
        {% if country_1 %}
            <li>{{ country_1.name }} - {{ country_1.country_code }}</li>
            <li>Income Group: {{ country_1.income_group.name }}</li>
            <li>Region: {{country_1.region.name}}</li>
            <li>Special Notes: {{ country_1.special_notes }}</li>
            <h3>Rural population (% of total population) per year:</h3>
            <ul>
                {% for data_entry in country_1.dataentry_set.all %}
                    <li>Year: {{ data_entry.year }}, Population(%): {{ data_entry.value }}</li>
                {% empty %}
                    <li>No data entries found for this country.</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endblock %}